@page
@model SnackisWebApp.Pages.Admin.Management.SubCategoryManagerModel
@{
    ViewData["Title"] = "Sub Category Manager";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Index">Startsida</a></li>
        <li class="breadcrumb-item"><a asp-page="/Admin/Dashboard">Admin kontrollpanel</a></li>
        <li class="breadcrumb-item"><a asp-page="/Admin/Management/CategoryManager">Category Manager</a></li>
        <li class="breadcrumb-item active" aria-current="page">Subcategory Manager</li>
    </ol>
</nav>

<p class="display-4 text-center">Subcategory Manager</p>

<h5 class="text-center">Managing Subcategories for Category @Model.Category.Name</h5>

<hr class="my-4" />

<div class="row justify-content-center">
    <div class="col-6 m-2">
        <form method="post" asp-page-handler="AddSubCategory">
            <div class="row justify-content-center">
                <div class="col-8">
                    <input type="hidden" asp-for="Input.CategoryId" value="@Model.Category.Id" />
                    <input asp-for="Input.Name" class="form-control w-100 mr-2">
                </div>
                <div class="col-4">
                    <button class="btn btn-info">Add New Sub Category</button>
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subCategory in Model.SubCategories.Where(s => s.CategoryId == Model.Category.Id).OrderBy(s => s.Name))
        {
            <tr>
                <td>@subCategory.Id</td>
                <td>@subCategory.Name</td>
                <td>
                    <form method="post" asp-page-handler="DeleteSubCategory">
                        <input type="hidden" asp-for="Category.Id" value="@Model.Category.Id" />
                        <input type="hidden" asp-for="SubCategoryId" value="@subCategory.Id" />
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
