@page
@model SnackisWebApp.Pages.CreateReportModel
@{
    string createFor = "";

    if (@Model.PostId != null)
    {
        createFor = "post";
    }
    else if (@Model.CommentId != null)
    {
        createFor = "comment";
    }
}
@if (@Model.StatusMessage != null)
{
    <p>@Model.StatusMessage</p>
}
<h1>Create report for @createFor: </h1>
<div class="row">
    <div class="col-12 align-content-center">
        @if (createFor == "post")
        {
            <h5>@Model.Post.Title</h5>
            <p>@Model.Post.Content</p>
        }
        else if (createFor == "comment")
        {
            <p>@Model.Comment.Content</p>
        }
    </div>
</div>
<form method="post">
    <div class="input-group">
        <input type="hidden" asp-for="Input.PostId" value="@Model.PostId" />
        <input type="hidden" asp-for="Input.CommentId" value="@Model.CommentId" />
        <input type="hidden" asp-for="Input.ByUser" value="@Model.CurrentUser.Id" />
        <label>Reason</label>
        <input asp-for="Input.Content" class="form-control w-25">
        <span class="input-group-btn">
            <button class="btn btn-info">Create report</button>
        </span>
    </div>
</form>
