@page
@model SnackisWebApp.Pages.PostPageModel
@{
    ViewData["Title"] = @Model.Post.Title;
}

<div class="row text-center">
    <div class="col-4 align-content-center">
        <p>@Model.Post.CreatedAt</p>
        <a asp-page="UserProfile" asp-route-userId="@Model.CreatedByUser.Id">
            <p>@Model.CreatedByUser.UserName</p>
        </a>
        <img style="width:150px;height:150px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.CreatedByUser.ProfileImg))">
    </div>
    <div class="col-8 align-content-center">
        <h3>@Model.Post.Title</h3>
        <textarea class="rounded w-100 h-75" readonly>@Model.Post.Content</textarea>
    </div>
    <div>
        <a class="btn btn-warning" asp-page="CreateReport" asp-route-PostId="@Model.Post.Id">Report</a>
    </div>
</div>

@foreach (var comment in Model.Comments.OrderBy(c => c.CreatedAt))
{
    <hr class="my-3"/>
    <div class="row text-center my-2">
        <div class="col-4 align-content-center">
            <p>@comment.CreatedAt</p>
            <a asp-page="UserProfile" asp-route-userId="@comment.CreatedByUser.Id">
                <p>@comment.CreatedByUser.UserName</p>
            </a>
            <img style="width:150px;height:150px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(comment.CreatedByUser.ProfileImg))">
        </div>
        <div class="col-8 align-content-center">
            <textarea class="rounded w-100 h-75" readonly>@comment.Content</textarea>
        </div>
        <div>
            <a class="btn btn-warning" asp-page="CreateReport" asp-route-CommentId="@comment.Id">Report</a>
        </div>
    </div>
}

<div class="row text-center">
    <div class="col-12 align-content-center">
        @if (Model.UserId != null)
        {
            <form method="post" asp-page-handler="AddComment">
                <input type="hidden" asp-for="Input.UserId" value="@Model.UserId" />
                <input type="hidden" asp-for="Input.PostId" value="@Model.Post.Id" />
                <div class="form-group my-2">
                    <label class="control-label" asp-for="Input.Content"></label>
                    <textarea asp-for="Input.Content" class="form-control"></textarea>
                </div>
                <div class="input-group-btn">
                    <button class="btn btn-info">Add New Comment</button>
                </div>
            </form>
        }
        else
        {
            <p>Please <a asp-area="Identity" asp-page="Account/Login">login</a> to create a comment!</p>
        }
    </div>
</div>
